.btn
  color:            black
  text-align:       center
  background-color: #B8DC3C
  font-weight:      bold
  cursor:           pointer
  padding:          10px
  border-radius:    10px 0
  display:          inline-block
  min-width:        150px
  transition:       .3s all

  &:hover
    border-radius: 0 10px

form
  margin: 0 auto
  background-color: rgba(53,35,93,0.7)
  border-radius: 10px 10px 0 0
  padding: 30px
  padding-bottom: 60px
  width:  380px
  input
    font-size:     20px
    padding:       15px 10px
    border-radius: 5px
    display:       block
    margin:        25px 0
