.title
  color: white
  display: inline-block
  background-color: rgba(0,0,0,0.7)
  width: 100%
  padding: 10px 0 25px
  position: absolute
  top: 15%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  text-align: center
  font-size: 130px
  opacity: 0
  animation: enter-title 2s ease-out 1s 1
  animation-fill-mode: forwards

@keyframes enter-title
  to
    opacity: 1
    top: 20%

.login
  position: absolute
  display: inline-block
  top:  60%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  opacity: 0
  animation: enter-login-form 1s ease-out 1.5s 1
  animation-fill-mode: forwards
  input
    width: 100%
    border: none

@keyframes enter-login-form
  to
    opacity: 1

.or-signup
  display: inline-block
  background-color: rgba(219,36,100,0.5)
  padding: 20px
  width: 100%
  border-radius: 0 0 10px 10px
  p
    margin-top:    10px
    margin-bottom: 20px

.error-msg
  background-color: #A31A48
  padding:          10px
  border-radius:    4px
  font-size:        16px
