<div class="background-img"></div>
<h1 class="title">partyPAY</h1>
<div class="login" ng-controller="SignUpCtrl">
  <form novalidate>
    <div ng-show="error" class="error-msg">We're sorry, but there's no such user. Please, try again.</div>
    <input type="email"    ng-model="user.email"    placeholder="E-mail" />
    <input type="password" ng-model="user.password" placeholder="Password" />
    <input type="password" ng-model="user.password_confirmatuon" placeholder="Password confirmation" />
    <div ng-click="signup()" class="btn">Sign up</div>
  </form>
  <div class="or-signup">
    <p>Have you already got an account?</p>
    <div class="btn" ng-click="goToLogIn()">Log in</div>
  </div>
</div>
